.container{
    background-color: #fbfbfb;
    padding: 42px;
    border-radius: 10px;
    .iconlar{
      margin-bottom: 15px;
     .fas{
      border: 1px solid white;
      border-radius: 100%;
      padding: 34px;
      box-shadow: 0 0 3px 0px black;
      margin-right: 134px;
      margin-left: 132px;
      margin-top: 85px;
      font-weight: 600;
     }
     .text-center{
          color: #a4aabd !important;
          margin-bottom: 10px;
         }
     .icon{
       .fa-map-marker-alt{
         color:red;
         
         
       }
       .fa-phone{
         color: rgb(5, 228, 42);
       }
       .fa-envelope-open{
        color: rgb(7, 102, 255);
       }

       p strong{
        color: #fb00c5;
        
      }
     }
    }
}

form {
  margin-right: 161px;
  .btn{
    margin-left: 144px;
  width: 89% !important;
  margin-top: 16px;
  }
  .inputlar {
 
    .input input{
      width: 500px;
      background: #edeaea;
      border: none;
      height: 37px;
      
    }
    textarea{
      width: 500px;
      background: #edeaea;
      border: none;
      height: 37px;
    }
  }

}


@media (max-width:1377px){
  .container{
    .about{
      justify-content:center;
    }
}
}


.mesaj textarea{
  width: 1040px;
    margin-left: 159px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 285px;
    background: #edeaea;
}
