<div class="container">
  <header>
    <h5 class="text-center" style="font-size: 26px;">Bizimle İletişime Geçin</h5>
  </header>
  <div class="row justify-content-center">
    <div class="contact d-flex">
      <div class="iconlar d-flex flex-wrap">
        <div class="icon">
          <i class="fas fa-map-marker-alt"></i>
          <p class="yazi text-center"><strong>Adres</strong><br>Şehitkamil/Gaziantep<br>Türkiye.</p>
        </div>
        <div class="icon">
          <i class="fas fa-phone"></i>
          <p class="yazi text-center"><strong>Bizi Arayın</strong><br>+(0121) 121 121<br>+(0121) 121 122</p>
        </div>
        <div class="icon">
          <i class="fas fa-envelope-open"></i>
          <p class="yazi text-center"><strong>Email</strong><br>info@example1.com<br>info@example2.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
     <div class="row">
    <form class=" justify-content-center">
      <div class="inputlar container d-flex justify-content-around justify-content-center  ">
        <div class="input col-4">
          <label>Adın</label><br>
          <input type="text">
        </div>
        <div class="input col-4">
          <label>Email</label><br>
          <input type="email">
        </div>
        
      </div>
      <div class="row mesaj justify-content-center">
        <textarea type="text" placeholder="Mesajınız..."></textarea>
      </div>
      
        <button type="button" class="btn btn-primary btn-lg btn-block">Gönder</button>
    </form>
  </div>
</div>
  </div>
 