.container{
    background-color: #fbfbfb;
    padding: 78px;
    border-radius: 10px;
    
   
}
.description{
  margin-left: 45px;
  p{
    width:547px;
    font-style: italic;
    color: #817f7f;
  }
}