<div class="container">
    <header>
        <h5>Hakkımızda</h5>
    </header>
    <hr>
    <div class="row">
        <div class="about d-flex flex-wrap">
            <div class="img">
                <img src="../../../assets/images/feature-image.jpg">
            </div>
            <div class="description">
                <h5>Biz kimiz & Ne yapıyoruz? </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur
                    similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem
                    perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis
                    ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti
                    necessitatibus perspiciatis quis.
                </p>
                <br>
                <hr>
                <div class="icons mt-4 d-flex">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-behance"></i>
                </div>
            </div>
        </div>
    </div>
</div>