@import '~bootstrap/scss/mixins/breakpoints';
 @import '~@nebular/theme/styles/global/breakpoints';
 @import '../../styles/themes';

.row .col-3 h5{
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
}
.row .link ul{
    list-style: none;
}
.row .link ul li{
    margin-right: 40px;
}

.row .link ul li a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
}
.row .link ul li a:hover{
   color: rgb(240, 108, 245);
}
.icon{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1px;
}
.icon:hover{
    color: rgb(240, 108, 245);
    cursor: pointer;
    border-color: blueviolet;
}

.iconlar{
    text-align: right;
}
.iconlar .icon{
    margin-right: 13px;
}

.row .col-1 nb-icon{
    color: #889ace;
}

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(margin-right, 1.25rem);
      @include nb-rtl(margin-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }
}