
<div class="row pt-3">

  <div class="col-1  d-md-none ">
    <div class="header-container">
      <div class="logo-container">
        <a
          href="#"
          class="sidebar-toggle"
          matRipple
          [matRippleUnbounded]="false"
          [matRippleCentered]="false"
          (click)="toggleSidebar()"
        >
          <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><span></span></a>
      </div>
    
    
    </div>
  </div>
  <div class="col-4 col-sm-3">
    <h5 class="col">Store</h5>
  </div>
  <div class="link d-none d-md-block">
    <ul class="d-flex justify-content-center">
      <li><a [routerLink]="['anasayfa']" routerLinkActive="active">Anasayfa</a></li>
      <li><a [routerLink]="['kategori']" routerLinkActive="active">Kategoriler</a></li>
      <li><a [routerLink]="['blok']" routerLinkActive="active">Blog</a></li>
      <li><a [routerLink]="['iletisim']" routerLinkActive="active">İletişim</a></li>
    </ul>
  </div>
  <div class="col">
    <div class="iconlar">
      <!-- <nb-action
      class="user-action"
      *nbIsGranted="['view', 'user']"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true">
      <nb-user *ngIf="authService.isAuthentication()" [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="authService.user?.username"
               [picture]="user?.picture"
               nbContextMenuTag="mainMenu" >
      </nb-user>
      
    </nb-action> -->
      <nb-icon class="icon" (click)="mapLogin()" icon="person-outline"></nb-icon>
      <nb-icon class="icon" icon="search-outline"></nb-icon>
      <nb-icon class="icon" (click)="mapBasket()" icon="shopping-cart-outline"></nb-icon>
    </div>
    
  </div>
</div>
   