
<div class="row pt-3">
  <div class="col-3">
    <h5>Phone</h5>
  </div>
  <div class="col-5">
    <ul class="d-flex justify-content-center">
      <li><a [routerLink]="['anasayfa']" routerLinkActive="active">Anasayfa</a></li>
      <li><a [routerLink]="['kategori']" routerLinkActive="active">Kategoriler</a></li>
      <li><a [routerLink]="['blok']" routerLinkActive="active">Blok</a></li>
      <li><a [routerLink]="['iletisim']" routerLinkActive="active">İletişim</a></li>
    </ul>
  </div>
  <div class="col-4">
    <div class="iconlar">
      <nb-icon class="icon" (click)="mapLogin()" icon="person-outline"></nb-icon>
      <nb-icon class="icon" icon="search-outline"></nb-icon>
      <nb-icon class="icon" (click)="mapBasket()" icon="shopping-cart-outline"></nb-icon>
    </div>
    
  </div>
</div>
   