.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
    background-color: rgb(236 236 235 / 49%);
}
.container h2 {
    padding-top: 74px;
    padding-left: 131px;
    font-size: xx-large;
    color: #8a8c8c;
    b {
        color: black;
    }
}
.aa{
    padding-top: 74px;
}

.card {
    align-items: center;
    margin-top: 100px;
    box-shadow: 0px 0px 5px 0px #524b49;
    // padding-top: 84px;
    & img {
        padding-top: 14px;
        // width: 10rem;
        height: 150px;
    }
    h5{
        padding:10px;
          max-width: 230px;
        overflow: hidden; /* taşanları gizle */
        white-space: nowrap; /* alt satıra hiç inme */
        text-overflow: ellipsis;
    }


}
