<div class="container">
  
  <div class="row justify-content-center mt-3">
    <div *ngFor="let item of categories">
      <button class="ml-2" nbButton status="primary" (click)="getProductByCategory(item)">{{item}}</button>
    </div>
  </div>
</div>

<div class="container">
   <div class="row justify-content-center">
<div class="row container" style="margin-left: 0px !important; margin-top: 52px;">
  <div id="card-top" class="col d-flex flex-wrap justify-content-center ml-2">
    <div (click)="productDetail(product)" class="card shadow-sm mt-2" *ngFor="let product of products">
      <img src="{{product.image}}" class="card-img-top">
      <div class="card-body">
        <div class="clearfix mb-3">
           <span class="float-end price-hp"></span>{{product.price | currency: "₺"}}</div>
        <h5 class="card-title">{{product.title}}</h5>
        <div class="text-center my-4">
          <button type="submit" class="btn btn-warning">Ürün İncele</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
 
</div>


 



